{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Timeline</title>
	<link rel="stylesheet" type="text/css" href="{% static 'events/style.css' %}">
</head>
<body>
	<header>
		<div class="title-container">
			<h1 class="title">Timeline</h1>
		</div>
	</header>
	<main>

		<div class="timeline">


			{% if event_list %}
				{% for event in event_list %}
					{% if forloop.counter|divisibleby:2 %}
						<div class="container right">
							<div class="content">
								<h2 class="year">{{ event.year }}</h2>
								<p class="text">{{ event.text }}s</p>
							</div>
						</div>
					{% else %}
						<div class="container left">
							<div class="content">
								<h2 class="year">{{ event.year }}</h2>
								<p class="text">{{ event.text }}s</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			{% else %}
				<p>No hay elementos</p>
			{% endif %}
		</div>
	</main>
	<footer>
		<p class="copy">Hecho en Carabayllo con <3</p>
	</footer>
</body>
</html>