* {
	box-sizing: border-box;
}

body{
	margin: 0px;
	font-family: Verdana;
	background-color: #003050;
}

/* Title */
.title-container{
	text-align: center;
	background-color: white;
	height: 150px;
}
.title{
	line-height: 150px;
	color: #00a5b6;
	margin-top: 0px;
}

.timeline{
	position: relative;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	max-width: 900px;
}

/* Timeline line */
.timeline::after{
	content: '';
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 10px;
	left: 50%;
	margin-left: -5px;
	background-color: white;
}

.container{
	position: relative;
	padding: 20px 30px;
	width: 50%;
}

/* Circle */
.container::after{
	content: ' ';
	position: absolute;
	top: 33px;
	width: 20px;
	height: 20px;
	right: -15px;
	background-color: white;
	border: 5px solid #00a5b6;
	border-radius: 50%;
	z-index: 1;
}

/* Content left & right */
.left{
	left: 0px;
}

.right{
	left: 50%;
}

/*  Arrows */
.left::before{
	content: ' ';
	position: absolute;
	width: 0px;
	height: 0px;
	top: 40px;
	right: 20px;
	border: medium solid;
	border-width: 10px 0px 10px 10px;
	border-color: transparent transparent transparent white;
	z-index: 1;
}

.right::before{
	content: ' ';
	position: absolute;
	width: 0px;
	height: 0px;
	top: 40px;
	left: 20px;
	border: medium solid;
	border-width: 10px 10px 10px 0px;
	border-color: transparent white transparent transparent;
	z-index: 1;
}

/* Circles right */
.right::after{
	left: -15px;
}


/* Content */
.content{
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 10px;
}

/* Year & Text */
.year{
	color: #00a5b6;
}
.text{
	color: #6c6170;
}

/* Footer */
footer{
	text-align: center;
	height: 75px;
	background-color: white;
}
.copy{
	margin-top: 0px;
	font-size: 20px;
	line-height: 75px;
	color: #6c6170;
}

@media screen and (max-width: 600px){
	/* Timeline line */
	.timeline::after{
		left: 30px;
	}

	/* Container max width */
	.container{
		width: 100%;
		padding-left: 70px; 
		padding-right: 25px; 
	}

	/* New arrows */
	.container::before{
		left: 60px;
		border: medium solid;
		border-width: 10px 10px 10px 0px;
		border-color: transparent white transparent transparent;
	}

	/* Circles to left */
	.left::after, .right::after{
		left: 15px;
	}

	.right{
		left: 0%;
	}

}